@model FTPServer.Entities.FTPLogin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FTPLogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FtpServerIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FtpServerIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FtpRemotePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FtpRemotePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FtpUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FtpUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FtpPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FtpPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
